<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstaFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A89C46C1C7A5F5F00D3A2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A89C4851C7A5F6000D3A2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A89C4901C7A5F6000D3A2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
